@mixin full-width {
  inline-size: 100%;
}
@mixin full-height {
  block-size: 100%;
}
@mixin full-area {
  @include full-width;
  @include full-height;
}
@mixin full-flex {
  display: flex;
  @include full-width;
  @include full-height;
}
@mixin full-block {
  display: block;
  @include full-width;
  @include full-height;
}
@mixin full-grid {
  display: grid;
  @include full-width;
  @include full-height;
}
@mixin full-inflex {
  display: inline-flex;
  flex: 1;
}
@mixin full-inblock {
  display: inline-block;
  @include full-width;
  @include full-height;
}
@mixin full-ingrid {
  display: inline-grid;
  @include full-width;
  @include full-height;
}
@mixin default-spaces {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}